
# Android/IntelliJ
#
android/build/
.idea
android/.gradle
android/app/build
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# CocoaPods
/ios/Pods/

# IntelliJ project files
out
gen
